<!DOCTYPE html>
<html class="no-js" lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">
<head>
	{{ partial "head.html" . }}
</head>

<body>
    {{ partial "nav.html" . }}
    <section class="index-area main-area">
        <section class="title-area">
            <h1>
                {{ .Title }}
                {{with .Date }}
                    <div class="date">{{.}}</div>
                {{ end }}
            </h1>
        </section>
        {{ block "body" . }}{{ end }}
    </section>
    

	{{ partial "footer.html" . }}
	{{ partial "javascript.html" . }}
</body>
</html>