/*main color #0288D1 */
@font-face {
  font-family: myFont;
  src: url(../font/NotoSans-Regular.ttf) format("opentype");
}

/* line 7, ../sass/main.scss */
html, body {
  position: relative;
  height: 100%;
  font-family: myFont ,tahoma,verdana,arial, sans-serif;
}

/* line 12, ../sass/main.scss */
h1 {
  font-size: 5em;
  color: #fff;
  margin: 0;
  padding: 0;
}

/* line 18, ../sass/main.scss */
.intro p {
  color: #fff;
}

/* line 21, ../sass/main.scss */
.clickable {
  cursor: pointer;
}

/* Centered texts in each section
* --------------------------------------- */
/* line 26, ../sass/main.scss */
.section {
  text-align: center;
  position: relative;
}

/* line 31, ../sass/main.scss */
.twentytwenty-horizontal .twentytwenty-handle {
  background: url("../images/phantom.png") 50% 50% no-repeat;
  background-size: cover;
  height: 90px;
  width: 120px;
  margin-left: -63px;
}
/* line 35, ../sass/main.scss */
.twentytwenty-horizontal .twentytwenty-handle .twentytwenty-left-arrow {
  margin-left: -80px;
}
/* line 38, ../sass/main.scss */
.twentytwenty-horizontal .twentytwenty-handle .twentytwenty-right-arrow {
  margin-right: -80px;
}
/* line 41, ../sass/main.scss */
.twentytwenty-horizontal .twentytwenty-handle:before {
  margin-bottom: 50px;
}
/* line 44, ../sass/main.scss */
.twentytwenty-horizontal .twentytwenty-handle:after {
  margin-top: 50px;
}

/* line 48, ../sass/main.scss */
.worksArea {
  height: 65vh;
  width: 100%;
  overflow: hidden;
}
/* line 51, ../sass/main.scss */
.worksArea .work {
  height: 29vh;
  width: 38vh;
  display: inline-block;
  margin: 15px;
  border-radius: 10px;
  overflow: hidden;
}
/* line 57, ../sass/main.scss */
.worksArea .work .workTitle {
  height: 35px;
  width: 100%;
  margin-bottom: 5px;
  line-height: 35px;
  font-size: 20pt;
  color: white;
}
/* line 64, ../sass/main.scss */
.worksArea .work .img {
  height: 100%;
  width: 100%;
  border-radius: 10px;
  background-size: cover !important;
}

/* Defining each section background and styles
* --------------------------------------- */
/* line 73, ../sass/main.scss */
#MainBlock {
  background: -webkit-gradient(linear, top left, bottom left, from(#4bbfc3), to(#7baabe));
  background: -webkit-linear-gradient(#4bbfc3, #7baabe);
  background: linear-gradient(#4bbfc3, #7baabe);
}
/* line 77, ../sass/main.scss */
#MainBlock #contacts {
  height: 40px;
  width: 160px;
  position: absolute;
  top: 0;
  left: auto;
  bottom: auto;
  right: 20px;
  z-index: 1;
  padding-top: 5px;
  border-radius: 0 0 10px 10px;
  background-color: rgba(255, 255, 255, 0.3);
}
/* line 84, ../sass/main.scss */
#MainBlock #contacts > div {
  height: 30px;
  width: 30px;
  float: right;
  margin: 2px 8px;
  cursor: pointer;
  border-radius: 50%;
}
/* line 91, ../sass/main.scss */
#MainBlock #contacts #fb {
  margin-right: 18px;
  background: url("../images/fb.png") 50% 50% no-repeat;
  background-size: cover;
}
/* line 96, ../sass/main.scss */
#MainBlock #contacts #pixiv {
  background-color: #0096DB;
  background: url("../images/pixiv.jpg") 50% 50% no-repeat;
  background-size: cover;
}
/* line 100, ../sass/main.scss */
#MainBlock #contacts #github {
  background: url("../images/GitHub-Mark.png") 50% 50% no-repeat;
  background-size: cover;
  background-color: white;
}
/* line 105, ../sass/main.scss */
#MainBlock #menuTitle {
  height: 80px;
  width: 85%;
  border-bottom: 1px solid rgba(231, 234, 234, 0.4);
  margin: 0 auto 20px;
  overflow: hidden;
  position: relative;
}
/* line 111, ../sass/main.scss */
#MainBlock #menuTitle #nameLabel {
  background: url("../images/title.png") 50% 50% no-repeat;
  background-size: cover;
  height: 75px;
  width: 210px;
  float: left;
}
/* line 116, ../sass/main.scss */
#MainBlock #menuTitle #menu {
  padding: 0;
  margin: 0;
  overflow: hidden;
  position: absolute;
  top: auto;
  left: auto;
  bottom: 0;
  right: 0;
}
/* line 121, ../sass/main.scss */
#MainBlock #menuTitle #menu > li {
  height: 30px;
  width: 80px;
  list-style: none;
  float: left;
  text-align: left;
  padding-left: 20px;
  cursor: pointer;
  position: relative;
  line-height: 15px;
}
/* line 130, ../sass/main.scss */
#MainBlock #menuTitle #menu > li a {
  text-decoration: none;
  color: white;
}
/* line 133, ../sass/main.scss */
#MainBlock #menuTitle #menu > li a:hover {
  text-decoration: underline;
}
/* line 138, ../sass/main.scss */
#MainBlock #menuTitle #menu > li:before {
  position: absolute;
  top: 0;
  left: 5px;
  bottom: auto;
  right: auto;
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 7.5px 0 7.5px 10px;
  border-color: transparent transparent transparent #ffffff;
}
/* line 150, ../sass/main.scss */
#MainBlock #scrollHint {
  position: absolute;
  top: auto;
  left: 0;
  bottom: 0;
  right: auto;
  height: 70px;
  width: 100%;
}
/* line 153, ../sass/main.scss */
#MainBlock #scrollHint > div {
  background: url("../images/scroll.png") 50% 50% no-repeat;
  background-size: cover;
  height: 70px;
  width: 150px;
  margin: 0 auto;
}
/* line 157, ../sass/main.scss */
#MainBlock #scrollHint > div:hover {
  -webkit-animation-name: hvr-pulse;
  animation-name: hvr-pulse;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

/* line 171, ../sass/main.scss */
#webworkBlock {
  background: -webkit-gradient(linear, top left, bottom left, from(#7baabe), to(#969ac6));
  background: -webkit-linear-gradient(#7baabe, #969ac6);
  background: linear-gradient(#7baabe, #969ac6);
}
/* line 175, ../sass/main.scss */
#webworkBlock .work {
  height: 40vh;
  width: 53vh;
}

/* line 179, ../sass/main.scss */
#illuworkBlock {
  background: -webkit-gradient(linear, top left, bottom left, from(#969ac6), to(#636f8f));
  background: -webkit-linear-gradient(#969ac6, #636f8f);
  background: linear-gradient(#969ac6, #636f8f);
}
/* line 183, ../sass/main.scss */
#illuworkBlock .worksArea {
  height: 75vh;
}
/* line 186, ../sass/main.scss */
#illuworkBlock #contactMe {
  height: 50px;
  width: 100%;
  position: absolute;
  top: auto;
  left: 0;
  bottom: 0;
  right: auto;
  line-height: 50px;
  color: white;
}
/* line 191, ../sass/main.scss */
#illuworkBlock #contactMe #contact {
  border-top: 1px solid rgba(231, 234, 234, 0.4);
  width: 80%;
  overflow: hidden;
  text-align: center;
  margin: 0 auto;
}
/* line 197, ../sass/main.scss */
#illuworkBlock #contactMe #contact span {
  width: 210px;
  position: relative;
  display: block;
  margin: 0 auto;
  padding-right: 35px;
}
/* line 204, ../sass/main.scss */
#illuworkBlock #contactMe #contact a {
  height: 30px;
  width: 30px;
  position: absolute;
  margin: 5px 3px 0 0;
}
/* line 208, ../sass/main.scss */
#illuworkBlock #contactMe #contact a.email {
  background: url("../images/mail.png") 50% 50% no-repeat;
  background-size: cover;
  right: 38px;
}
/* line 212, ../sass/main.scss */
#illuworkBlock #contactMe #contact a.fb {
  right: 0;
  background: url("../images/fb.png") 50% 50% no-repeat;
  background-size: cover;
  border-radius: 50%;
}

/* line 223, ../sass/main.scss */
#mainImg {
  margin: 0 auto;
  height: 80vh;
  width: 80%;
}
/* line 226, ../sass/main.scss */
#mainImg > img {
  height: 100%;
  width: 100%;
  border-radius: 10px;
}

/* line 231, ../sass/main.scss */
#preview {
  position: absolute;
  top: 0;
  left: 0;
  bottom: auto;
  right: auto;
  height: 100%;
  width: 100%;
  z-index: 20;
  opacity: 0;
}
/* line 236, ../sass/main.scss */
#preview .bg {
  position: absolute;
  top: 0;
  left: 0;
  bottom: auto;
  right: auto;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.57;
  z-index: -1;
}
/* line 244, ../sass/main.scss */
#preview .mainArea .close.clickable {
  position: absolute;
  top: 10px;
  left: auto;
  bottom: auto;
  right: 10px;
  height: 45px;
  width: 45px;
  color: white;
  font-size: 35pt;
}
/* line 250, ../sass/main.scss */
#preview .mainArea img {
  max-height: 80vw;
  max-width: 95vh;
}

/* Pulse */
@-webkit-keyframes hvr-pulse {
  /* line 259, ../sass/main.scss */
  25% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }

  /* line 264, ../sass/main.scss */
  75% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
}

@keyframes hvr-pulse {
  /* line 271, ../sass/main.scss */
  25% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }

  /* line 276, ../sass/main.scss */
  75% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
}

/* line 282, ../sass/main.scss */
.hvr-pulse {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
}

/* line 292, ../sass/main.scss */
.hvr-pulse:hover, .hvr-pulse:focus, .hvr-pulse:active {
  -webkit-animation-name: hvr-pulse;
  animation-name: hvr-pulse;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}
