@import "_tool.scss";
@import "_variables.scss";
@import "nav.scss";


html{
	overflow-x: hidden;
}
$footer-height: 60px;

body{
	@include setFont('Noto Sans TC');
	font-size: 12pt;
	margin: 0;
	font-weight: 400;
	line-height: 2;
	text-align: left;
	width: 100vw;
	overflow-x: hidden;
	color: #1c1d22;
	background-color: #ffffff;
	transition: opacity .3s ease-in;
	position: relative;
	padding-bottom: $footer-height;
	overflow: hidden;

	padding-left: $nav-width;
}

.container {
	padding: 0 15px;
	margin: 0 auto;
	@media only screen and (min-width: 1400px) {
		max-width: 1320px;
	}
	@media only screen and (min-width: 1600px) {
		max-width: 1520px;
	}
}

.main-page{
	height: 100%;
	overflow: hidden;
}

.flexbox{
	display: flex;
	display: -webkit-flex;
	&.row{
		flex-direction: row;
	}
	&.column{
		flex-direction: column;
	}
}
* {
	box-sizing: border-box;
}

h1{
	font-size: 30pt;
}

.main-area{
	min-height: 300px;
	width: 100%;
	padding: 20px;
	.title-area{
		text-align: center;
	}
}


code{
	overflow-wrap: break-word;
    word-wrap: break-word;
    padding: 2px 4px;
    color: #555;
    background: #eee;
    border-radius: 3px;
    font-size: 14px;
}

pre{
	width: 100%;
	word-break: break-all;
	margin: 0 0 10px;
	display: block;
	margin-bottom: 26px;
	padding: 16px;
	font-size: 15px;
	color: #c4c4c4;
	background-color: #232323;
	border: none;
	border-radius: 4px;
	tab-size: 4;
	code{
		padding: 0;
		font-size: inherit;
		color: inherit;
		white-space: pre-wrap;
		background-color: transparent;
		border-radius: 0;
	}
}
.title-area{
	.date{
		font-size: 12pt;
		font-weight: normal;
	}
}
/* Index Page */
.index-area{
	padding: 5px 10%;
	.latest{
		min-height: 130px;
		width: 100%;
		margin: 5px auto;
		padding: 5px 15px;
		a{
			font-size: 14pt;
			font-weight: bold;
			text-decoration: underline;
		}
		.date {
			font-size: 10pt;
		}
		.summary{
			line-height: 1.5;
			font-size: 12pt;
		}
	}
	.divider{
		width: 60%;
		margin: 15px auto;
		height: 1px;
		background-color: #dedede;
	}
}