/* line 3, ../sass/nav.scss */
.sidebar {
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  width: 250px;
  color: #ffffff;
  background-color: #1c1d22;
}
/* line 11, ../sass/nav.scss */
.sidebar .avatar {
  height: 150px;
  width: 100%;
}
/* line 15, ../sass/nav.scss */
.sidebar #banner-twenty {
  height: 150px;
}
/* line 17, ../sass/nav.scss */
.sidebar #banner-twenty img {
  height: 100%;
  width: 100%;
}
/* line 20, ../sass/nav.scss */
.sidebar #banner-twenty img.image-banner {
  background: url(../images/banner.jpg) 50% 50% no-repeat;
  background-size: cover;
}
/* line 24, ../sass/nav.scss */
.sidebar #banner-twenty img.image-banner-cover {
  background: url(../images/banner-cover.jpg) 50% 50% no-repeat;
  background-size: cover;
}
/* line 30, ../sass/nav.scss */
.sidebar .twentytwenty-handle {
  top: auto;
  bottom: 5px;
}
/* line 34, ../sass/nav.scss */
.sidebar .page-nav {
  list-style: none;
  line-height: 2;
  margin-top: 5%;
  padding: 5%;
  padding-left: calc(5% + 2em);
}
/* line 41, ../sass/nav.scss */
.sidebar .page-nav .nav-item:before {
  content: "-";
  margin: 10px;
  display: inline;
}
/* line 47, ../sass/nav.scss */
.sidebar .page-nav a {
  color: inherit;
  text-decoration: none;
}
/* line 50, ../sass/nav.scss */
.sidebar .page-nav a:hover {
  text-decoration: underline;
}

/* line 6, ../sass/main.scss */
html {
  overflow-x: hidden;
}

/* line 11, ../sass/main.scss */
body {
  font-family: "Noto Sans TC", "Noto Sans", "Microsoft YaHei", "Microsoft JhengHei", Arial, arial, "Helvetica Neue", monospace, sans-serif, "lucida grande", tahoma, verdana;
  font-size: 12pt;
  margin: 0;
  font-weight: 400;
  line-height: 2;
  text-align: left;
  width: 100vw;
  overflow-x: hidden;
  color: #1c1d22;
  background-color: #ffffff;
  transition: opacity .3s ease-in;
  position: relative;
  padding-bottom: 60px;
  overflow: hidden;
  padding-left: 250px;
}

/* line 30, ../sass/main.scss */
.container {
  padding: 0 15px;
  margin: 0 auto;
}
@media only screen and (min-width: 1400px) {
  /* line 30, ../sass/main.scss */
  .container {
    max-width: 1320px;
  }
}
@media only screen and (min-width: 1600px) {
  /* line 30, ../sass/main.scss */
  .container {
    max-width: 1520px;
  }
}

/* line 41, ../sass/main.scss */
.main-page {
  height: 100%;
  overflow: hidden;
}

/* line 46, ../sass/main.scss */
.flexbox {
  display: flex;
  display: -webkit-flex;
}
/* line 49, ../sass/main.scss */
.flexbox.row {
  flex-direction: row;
}
/* line 52, ../sass/main.scss */
.flexbox.column {
  flex-direction: column;
}

/* line 56, ../sass/main.scss */
* {
  box-sizing: border-box;
}

/* line 60, ../sass/main.scss */
h1 {
  font-size: 30pt;
}

/* line 64, ../sass/main.scss */
.main-area {
  min-height: 300px;
  width: 100%;
  padding: 20px;
}
/* line 68, ../sass/main.scss */
.main-area .title-area {
  text-align: center;
}

/* line 74, ../sass/main.scss */
code {
  overflow-wrap: break-word;
  word-wrap: break-word;
  padding: 2px 4px;
  color: #555;
  background: #eee;
  border-radius: 3px;
  font-size: 14px;
}

/* line 84, ../sass/main.scss */
pre {
  width: 100%;
  word-break: break-all;
  margin: 0 0 10px;
  display: block;
  margin-bottom: 26px;
  padding: 16px;
  font-size: 15px;
  color: #c4c4c4;
  background-color: #232323;
  border: none;
  border-radius: 4px;
  tab-size: 4;
}
/* line 97, ../sass/main.scss */
pre code {
  padding: 0;
  font-size: inherit;
  color: inherit;
  white-space: pre-wrap;
  background-color: transparent;
  border-radius: 0;
}

/* line 107, ../sass/main.scss */
.title-area .date {
  font-size: 12pt;
  font-weight: normal;
}

/* Index Page */
/* line 113, ../sass/main.scss */
.index-area {
  padding: 5px 10%;
}
/* line 115, ../sass/main.scss */
.index-area .latest {
  min-height: 130px;
  width: 100%;
  margin: 5px auto;
  padding: 5px 15px;
}
/* line 120, ../sass/main.scss */
.index-area .latest a {
  font-size: 14pt;
  font-weight: bold;
  text-decoration: underline;
}
/* line 125, ../sass/main.scss */
.index-area .latest .date {
  font-size: 10pt;
}
/* line 128, ../sass/main.scss */
.index-area .latest .summary {
  line-height: 1.5;
  font-size: 12pt;
}
/* line 133, ../sass/main.scss */
.index-area .divider {
  width: 60%;
  margin: 15px auto;
  height: 1px;
  background-color: #dedede;
}
