
    {{ "<!-- Basic Page Needs -->" | safeHTML }}
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    
    {{ "<!-- Mobile Specific Metas -->" | safeHTML }}
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    
    <link rel="icon" href="{{ "images/icon.ico" | relURL }}">
    
    {{ "<!-- Font Css -->" | safeHTML }}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" />
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans:400,700|Noto+Sans+TC:400,700&display=swap" rel="stylesheet">
    

    {{ "<!-- template main css file -->" | safeHTML }}
    <link href="{{ "/stylesheets/twentytwenty.css" | relURL }}" rel="stylesheet" />
    <link href="{{ "/stylesheets/main.css" | relURL }}" rel="stylesheet" />

    {{ "<!-- jquery -->" | safeHTML }}
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js"></script>
    