<!DOCTYPE html>
<html class="no-js" lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">
<head>
	{{ partial "head.html" . }}
</head>
<body>
	{{ partial "nav.html" . }}

	<section class="index-area banner-area">
        <div id="banner-twenty">
            <img class="image-banner" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAuQAAALkAQMAAAB9arImAAAAA1BMVEX///+nxBvIAAAAAXRSTlMAQObYZgAAAFpJREFUeNrtwTEBAAAAwqD1T20ND6AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAeDYPxwAB1dfBLQAAAABJRU5ErkJggg==">
            <img class="image-banner-cover" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAuQAAALkAQMAAAB9arImAAAAA1BMVEX///+nxBvIAAAAAXRSTlMAQObYZgAAAFpJREFUeNrtwTEBAAAAwqD1T20ND6AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAeDYPxwAB1dfBLQAAAABJRU5ErkJggg==">
        </div>
	</section>
	<section class="index-area feature-area">
        
	</section>

	{{ partial "footer.html" . }}
	{{ partial "javascript.html" . }}
</body>
</html>