{{ define "body"}}
<section class="content-area index-area">
	<h2>Latest Posts</h2>
	{{$postLen := len (where (where .Site.Pages "Section" "posts") ".Params.type" "post") }}
	{{ range $index, $ele := first 3 (where (where .Site.Pages "Section" "posts") ".Params.type" "post") }}
	<div class="latest">	
		<a href="{{ $ele.Permalink }}" class="title">{{ $ele.Title }}</a>
		<div class="date">{{ $ele.Date }}</div>
		<p class="summary">{{ $ele.Summary }}...</p>
	</div>
	{{ if ne (add $index 1) $postLen }}
	<div class="divider"></div>
	{{ end }}
	{{ end }}
</section>
{{ end }}

